table[b-gt6rv6gx2t] {
    border-collapse: separate;
    border-spacing: 0 1rem;
    width: 100%;
}

tbody[b-gt6rv6gx2t], td[b-gt6rv6gx2t], thead[b-gt6rv6gx2t], th[b-gt6rv6gx2t] {
    padding-left: 8px;

    border-color:beige;
    border-width:0px;

    border-left-color:blueviolet;
    border-left-style:dashed;
    border-left-width:2px;

    border-bottom-style:inset;
    border-bottom-width:1px;
}

td.tipo-usuario[b-gt6rv6gx2t] {
    font-style: italic;
    color: rgb(200, 255, 200);
}