@page "/imagen"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoUsuarioConsultaPorId cduUsuarioConsultaPorId
@inject CasoDeUsoImagenAlta cduImagenAlta

<input placeholder="Id usuario" @bind="_imagen.UsuarioId" class="form-control">
<input placeholder="Link de la Imagen" @bind="_imagen.URL" class="form-control">
<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code {
    Imagen _imagen = new Imagen();
    
    void Aceptar()
    {
        try 
        {
            var consultaUsuario = cduUsuarioConsultaPorId.Ejecutar(_imagen.UsuarioId);
            cduImagenAlta.Ejecutar(_imagen, consultaUsuario);
        }
        catch (Exception ex) {
            //Esto evita que aparezcan errores en la página web
            Console.WriteLine(" * ERROR: " + ex.Message);
        }
            _imagen = new Imagen();
    }
}