@page "/usuarios"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioConsultaTodos cduConsultaTodos
@inject CasoDeUsoUsuarioConsultaPermisos cduConsultaPermisos

<PageTitle>Usuarios</PageTitle>

<h1>Lista de usuarios</h1>

<table class="tabla-usuarios">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>FECHA CREACION</th>
            <th>VER IMAGENES PUBLICADAS</th>
            <th>NIVEL DE USUARIO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario usu in _listaUsuarios)
        {
            <tr>
                <td>@usu.Id</td>
                <td>@usu.Nombre</td>
                <td>@usu.FechaCreacion.ToString("d MMMM", CultureInfo.CreateSpecificCulture("es-MX"))</td>
                <td><a href="/usuario/@(usu.Id)/imagenes">Click aquí</a></td>
                <td class="tipo-usuario">@(MostrarPermisos(usu))</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    List<Usuario> _listaUsuarios = new List<Usuario>();
    protected override void OnInitialized()
    {
        _listaUsuarios = cduConsultaTodos.Ejecutar();
    }

    string MostrarPermisos(Usuario usu)
    {
        //Obtenemos una lista con los permisos, y si no, devolvemos un string vacío
        var listaPermisos = cduConsultaPermisos.Ejecutar(usu.Id);
        if (listaPermisos != null && listaPermisos.Count > 0)
            return string.Join(", ", listaPermisos.Select(p => p.Tipo));
        return "NO HAY PERMISOS";
    }
}